
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
    background-image: url(https://wallpapers.com/images/hd/mountain-covered-in-freezing-temperature-snow-8b09wpyja3w3oyft.jpg);
    background-attachment: fixed;
    background-size: cover;
    /* background-color: rgb(73, 8, 83); */
}

/*  for form */
#a { 
    padding: 30px 60px;
    min-height: 290px;
    border: black;
    border-radius: 15px;
    border-style:solid;
    margin: 30vh;
    background: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(10px);
    -webkit-backdrop-filter: blur(40px) saturate(200px);

    
    
}

label {
    font-family: cursive;
    font-size: 35px;
    color: white;
   
}

#ipdegree {
    width: 100px;
    height: 30px;
    margin: 12px;
    padding: 8px;
    font-size: 20px; 
    border-radius: 5px;
}

#choosentype {
    width: 120px;
    height: 45px;
    border-radius: 5px;
    margin: 12px;
    font-size: 19px;
    font-weight: 500;  
}

option{
    text-align: center;
}
#Convert {
    width: 100px;
    border-radius: 5px;
    margin: 20px;
    font-size: 20px;
    background-color: rgb(218 229 220);
    padding: 5px;
   
}

#covtresult{
    font-size: 25px;
}